$colorprimary: rgb(83, 83, 83);
$colorSecond:rgb(53, 53, 53);
$colorFont: rgb(173, 76, 253);
$fontsizemobiltitle: 1.2rem;
$fontsizemobiltext: 1rem;
$fonttext: 1.4rem;
$fonttitle: 1.8rem;
$widthmobil: 90%;
$widthdesk: 80%;
